.headerContainer {
    display: inline-flex;
    flex-direction: column;
}

.headerContainer h1 {
    font-size: 3rem;
    font-weight: bold;
    color: hsl(300, 43%, 22%);
    margin-bottom: 14px;
    line-height: 3rem;
}

.headerContainer h6 {
    font-size: 1rem;
    font-weight: 400;
    color: hsl(303, 10%, 53%);
    margin: 0;
    text-align: justify;
    line-height: 1.6rem;
}

@media only screen and (max-width: 1365px) {
    .headerContainer {
        margin-top: 5%;
    }
    .headerContainer h1 {
        font-size: 2rem;
        line-height: 2rem;
        text-align: center;
    }

    .headerContainer h6 {
        text-align: center;
        margin-top: 2%;
    }
}