* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.testimonyContainer {
    display: flex;
    flex-direction: column;
    background-color: #511F50;
    color: white;
    padding: 2.5rem;
    border-radius: 8px;
}

.testimonyContainer:nth-child(1) {
    margin-bottom: 12%;
}

.testimonyContainer:nth-child(2) {
    margin-top: 6%;
    margin-bottom: 6%;
}

.testimonyContainer:nth-child(3) {
    margin-top: 12%;
}

.testimonyContainer .userInfoSection {
    display: flex;
}

.testimonyContainer .userInfoSection #userInfo {
    margin-left: 2rem;
}

.testimonyContainer .userInfoSection #userImage {
    width: 3rem;
    border-radius: 50%;
}

.testimonyContainer .userInfoSection #userInfo h5 {
   font-size: 1rem;
   font-weight: 500;
   margin: 0;
   padding: 0;
}

.testimonyContainer .userInfoSection #userInfo #type {
    font-weight: 200;
    color: hsl(333, 80%, 67%);
    padding-top: .2rem;
}

.testimonyContainer .description {
    font-weight: 200;
    margin-top: 2rem;
    color: rgb(240, 240, 240);
}

@media only screen and (max-width: 1365px) {
    .testimonyContainer:nth-child(1) {
        margin: 0;
    }

    .testimonyContainer:nth-child(2) {
        margin: 0;
        margin-top: 5%;
    }

    .testimonyContainer:nth-child(3) {
        margin: 0;
        margin-top: 5%;
    }

    .testimonyContainer .userInfoSection #userImage {
        width: 4.5rem
    }

    .testimonyContainer .userInfoSection #userInfo {
        margin: auto 0 auto 1.5rem;
    }
}